<h1>Sign In</h1>

<form class="" action="/sessions" method="post">
  <label for="email">Email:
    <input type="email" name="email" value="">
  </label>

  <label for="password">Password:
    <input type="password" name="password" value="">
  </label>

  <button type="submit" name="sign_in">Sign In</button>
</form>
