<!DOCTYPE html>
<html>
  <head>
    <title> Add link</title>
  </head>
  <body>
    <form action="/links/add" method="post">
      <input type="text" name="url">
      <input type="text" name="title">
      <button type="submit" name="add">add</button>
    </form>
  </body>
</html>
