<!DOCTYPE html>
<html>
  <head>
    <title> Add link</title>
  </head>
  <body>
    <form action="/signup" method="post">
      <label for="email">email
        <input type="text" name="email">
      </label>
      <label for="password">password:
        <input type="text" name="password" />
      </label>
      <button type="submit" name="submit">Submit</button>
    </form>
  </body>
</html>
